<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Crimes Near LA Arenas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#031c33">
        <!-- <ul class="nav navbar-nav" style="background-color: #1b3146"> -->
          <li class="dropdown">
            <li><a class="menu" href="map_index.html" target="_blank">Heatmap</a></li>
            <li><a class="menu" href="line_index.html" target="_blank">Line Plot</a></li>
            <li><a class="menu" href="table_index.html" target="_blank">Crime Table</a></li>
          </li>
        </ul>
    </div>
  </nav>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class='custom'>
          <h1>CRIME RATES SURROUNDING LA'S MOST POPULAR VENUES</h1>
          </div>
        </div>
      </div>
  </div>

    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="static/images/lakers.jpg" style="width:100%">
        <div class="text">LA Lakers</div>
      </div>

      <div class="mySlides fade">
        <img src="static/images/dodgers.jpg" style="width:100%">
        <div class="text">LA Dodgers</div>
      </div>

      <div class="mySlides fade">
        <img src="static/images/rams.jpg" style="width:100%">
        <div class="text">LA Rams</div>
      </div>

      <div class="mySlides fade">
        <img src="static/images/kings.jpg" style="width:100%">
        <div class="text">LA Kings</div>
      </div>

      <div class="mySlides fade">
        <img src="static/images/boxing.jpg" style="width:100%">
        <div class="text">Staples Center Boxing Event</div>
      </div>
    </div>
    <br>
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span>
      </div>
      <br>

      <script>
      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
      </script>
    <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class='custom'>
        <h2>INTRODUCTION</h2>
        <br>
        <p>The Staples Center, The Coliseum and Dodgers Stadium, all located within the Downtown Los Angeles vicinity, 
          combined host hundreds of events yearly. Home to some of the most iconic teams in their sports and concerts for Grammy-winning 
          artists, these venues attract thousands of people from all over the world. We believe that these popular venues would 
          attract lots of crimes, such as petty theft, due to the influx of visitors and tourists.
        </p>
      <p>This is due to multiple factors. Many fans and tourists carry large sums of money or other valuables. Also, especially 
            tourists are vulnerable because they are more likely to be relaxed and off guard while on vacation.* Other studies 
            show that stadiums can lead to an increase in crimes, not necessarily on days of events, but on days that do not have 
            events, when security and police surveillance is lowered. This is because stadiums bring many new people into a neighborhood, 
            and allow criminals in crowds to spot possible targets, which they can act on at a later time.**
        </p>  
        <p>We hypothesized that there are more reported crime events in areas immediately surrounding the three venues when compared to 
            other areas within a 1.5 mile radius of each respective Los Angeles venue. We used reported crime data from the LAPD to conduct 
            our research.
        </p>
        <a href="https://popcenter.asu.edu/content/crimes-against-tourists-0">*Reference Article: Crimes Against Tourists</a>
        <br>
        <a href="http://www.flanderstoday.eu/stadiums-and-crime-go-hand-hand-say-ghent-researchers">**Reference Article: Stadiums and Crime</a>
        <br>
        <h3>FINDINGS</h3>
        <p>Based on our research and visualizations, we did not confirm our hypothesis that there is more crime surrounding the three venues. 
          The geo-mapped view shows that there is a relatively even spread of crime in the downtown area, with small pockets of lower crime 
          events, and small pockets of higher crime events in downtown LA. From this map, it is hard to conclude that there is higher crime near 
          the stadiums. The view of crimes reported versus distance appears to show that crimes reported appear to increase the farther one gets 
          from these venues. This is the opposite of our hypothesis.
        </p>
        <br>
        <p>There are many reasons why these venues would not lead to an increase in crimes committed. For one, there is likely increased security 
          and police surveillance for each of these venues, even on days when there are not events. Also, all three areas where these stadiums are 
          located have experienced gentrification to varying extents over the past few years. The influx of new, wealthier residents into this area 
          has likely also led to decreased crime rates around each venue.
        </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>

</html>